@white:#fff;
.thumbnail-group {
 display: table;
 width: 100%;
 margin-bottom:1.3rem;
}
.thumbnail {
    display: table-cell;
    font-size: 0.8rem;
    padding-right: 0.9rem;
    line-height: 1.2rem;
    img {
    max-width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  &:last-child{
    padding-right:0;
  }
}
.description {
 font-size: 0.6em;
 line-height: 1.2em;
}


.line(@line, @artifact-color){
  
  &:after when (@line = true){
             content: ' ';
    display: block;
    width: 10%;
    height: 3px;
    position: relative;
   
    left: 50%;
    margin: 1em 0 0;
    transform: translateX(-50%);
 background-color: @artifact-color;
    }
}
.section-style(@line,@font-size, @artifact-color, @artifact-font-color:red, @font-color:white,@button-vertical-alligment:middle,@padding){
    display: table-row;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 3rem;
    font-size: @font-size;
    color:@font-color;
    
  button{
    text-transform: uppercase;
    width: 6rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: @artifact-color;
    color: @artifact-font-color;
    font-size: inherit;
    vertical-align: bottom;
}
    span{
      padding: @padding;
    display: table-cell;
    line-height: 1.2em;
    vertical-align: @button-vertical-alligment;
      position:relative; 
      width:100%;
      .line(@line, @artifact-color:@artifact-color);
      
    }
  }


.lfloat{
  float:left;
}
.rfloat{
  float:right;
}
*{
  margin:0;
  padding:0;
  border:0;
      box-sizing: border-box;
}
.block-style(@background-color,@artifact-color, @artifact-font-color, @font-color:white,@line:true)
  {
    width:100%;
  background-color:@background-color;
  display:table;
    table-layout:fixed;
    border-collapse: collapse;
  header {
    .section-style(@line:@line,@font-size:1.5em,@artifact-color: @artifact-color, @artifact-font-color: @artifact-font-color, @font-color:@font-color, @padding: 2.5em 3em 0);
  }
.content{
    .section-style(@line:false, @font-size:0.85em,@artifact-color: @artifact-color, @font-color:@font-color,@padding: 1em 3em);
    
  }
  .button-container{
    .section-style(@line:false, @font-size:0.55em, @artifact-color: @artifact-color, @artifact-font-color: @artifact-font-color,@button-vertical-alligment:top,@padding:  3em 8em);
  }
}

#sign-up-header{
  .block-style(@background-color:transparent,@artifact-color:red,@artifact-font-color:white);
}
#get-started{
  .block-style(@background-color:red,@artifact-color:white,@artifact-font-color:black);
}
#features{
  .block-style(@background-color:transparent,@font-color:black,@artifact-color:black,@artifact-font-color:black);
}
#sign-up-footer{
   .block-style(@background-color:black,@font-color:white,@artifact-color:red,@artifact-font-color:white,
   @line:false);
}
#main-nav{
  height:2rem;
  color: @white;
  display:table;
  border-bottom:1px solid white;
  width:100%;
  .brand{
        display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }
  ul{
    width:60%;
    list-style-type:none;
    display:table;
    height:100%;
    .rfloat;
    li{
    display: table-cell;
    padding: 0 0.5em;
    height: 100%;
    text-align: center;
    vertical-align: middle;
      &:last-child{
        padding-right:1em;
      }
    }
    
  }
  
}

.inner-container{
  width:50%;
  margin:auto;
  color:black;
  position:relative;
  overflow:hidden;
}
.container{
  width:100%;
  position:relative;
}
#slider {
  width:300%;
  height:100%;
  animation-name: slider;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
#sliderWindow{
  position: absolute;
    height: 20rem;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  img{
    width:33.33%;
    height:100%;
  }
}

@keyframes slider {
  
  2% {
transform: translateX(0);
  opacity:0;}
  2.1% {
transform: translateX(-66.66%);
  opacity:0;}
  4% {
  opacity:1;}
  30% {
    transform: translateX(-66.66%);
  opacity:1;
  }
  32.0% {
    transform: translateX(-66.66%);
  opacity:0;
  }
  32.05% {
    transform: translateX(-33.33%);
  opacity:0;
  }
 
  34% {
  opacity:1;
  }
  58% {
  opacity:1;
  transform: translateX(-33.33%); 
  }
  60% {
  opacity:0;
  transform: translateX(-33.33%);
  }
  60.1% {
    transform: translateX(0px);
  opacity:0;}
  67% {
  opacity:1;
  }
    100% {
      transform: translateX(0px);
  opacity:1;
  }
}
html{
  font-size: 1.5vw;
}